<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>당나귀(당신과 나의 귀건강)</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mainCss.css">
    <style>




        .board{
            width: 100%;
            background-color: #bfc4f6;
            height: 100%;
            text-align: -webkit-center;
        }
        .maincon{
            display: flex;
            justify-content: center;
        }
        .onetwo{
            margin: 100px;
            width: 100%;
            text-align: center;
        }
        .img1{
            border-radius: 90%;
                width: 100px;
                height: 100px;
        }


    </style>
</head>
<body>
<div th:replace="fragments/navi :: navi"/>
<div class="main">
    <div class="board"><br>
        <h3>안녕하세요</h3>
        <p></p>
        <a href="/summary" class="btn btn-secondary">개요</a><br>
    </div>
    <div class="maincon">
        <div class="onetwo">
            <img src="/css/img/hearTest.jpg" alt="이미지" class="img1">
            <h2>개요</h2>
            <p>당나귀를 왜 만들었냐구요?</p>
            <p>우리는 다양한 기능을 제공해 줘요!</p>
            <a href="/summary" class="btn btn-primary">더보기</a>
        </div>
        <div class="onetwo">
            <img src="/css/img/jupasu.png" alt="이미지" class="img1">
            <h2>가청 주파수란?</h2>
            <p>당신의 귀건강을 어떻게 평가 할까요?</p>
            <a href="/jupasu" class="btn btn-primary">더보기</a>
        </div>
        <div class="onetwo">
            <img src="/css/img/board.png" alt="이미지" class="img1">
            <h2>게시판</h2>
            <p>무엇이든지 물어보세요!</p>
            <a href="/allpost" class="btn btn-primary">더보기</a>
        </div>
    </div>
    <br>

<div th:replace="fragments/bottom :: bottom"></div>



</div>

</body>
</html>