<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>하하</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <style>
        .div1{
            text-align: center;
        }
        .inputlogin{
            width:150pt;
            display: inline;
            margin: 10pt;
        }

    </style>
</head>
<body>

    <div class="mx-auto div1">
        <br>
        <hr>
        <h2 th:text="${errorMessage}"></h2>

        <form method="post" action="login">
            <div>
                <input type="text" placeholder="ID" name="userId"
                       class="form-control inputlogin"><br>
                <input type="password" placeholder="PWD" name="userPassword"
                       class="form-control inputlogin"><br>
            </div>
            <button type="submit" class="btn btn-dark">로그인</button>
            <hr>

        </form>
    </div>





<script type="text/javascript">
        var result='${errorMessage}';
        var para= document.createElement("p");
        if(result =='암호가 틀림'){
            alert("암호틀림");
        }

        var node=document.createTextNode(result);
        para.appendChild(node);
        var element=document.getElementById("div1");
        element.appendChild(para);

</script>


</body>

</html>