<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>

    <div>
        방문수:<p1 th:text="${cookieCount}">쿠키</p1><br>
        <a href="/login" >로그인</a>
        <a href="/write" >글쓰기</a>

        <table>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
                <th>조회수</th>
                <th>비밀글 여부</th>
            </tr>
            <tr th:each="b:${AllPost}">
                <td th:text="${b.id}"></td>
                <td th:text="${b.title}"></td>
                <td th:text="${b.userName.getUserName()}"></td>
                <td th:text="${b.date}"></td>
                <td th:text="${b.hit}"></td>
                <td th:text="${b.lock_post}"></td>
            </tr>
        </table>
    </div>
</body>
</html>