<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>게시판</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .main{
            margin: 0 auto;
            width: 700px;
            }

        .tb1{
            text-align: center;
        }
        .divlog{
            text-align: right;
            margin: 10pt;
        }

        .ul1{
              width: 300px;
              margin-left: auto;
              margin-right: auto;
        }
        .navi{
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="main">


    <div>

        <div th:replace="fragments/navi :: navi"/>
        <div class="divlog">
            방문수:<p1 th:text="${cookieCount}">쿠키</p1><br>
            <a href="/login"  th:if="!${session?.userName}" class="btn btn-lg btn-primary">로그인</a>
            <a href="/logout" th:if="${session?.userName}" class="btn btn-lg btn-primary">로그아웃</a>
            <a href="/write" class="btn btn-secondary btn-lg">글쓰기</a>
        </div>
        <table class="table tb1">
            <thead class="thead-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>조회수</th>
                    <th>비밀글 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b:${boardList}">

                    <td th:text="${b.id}"></td>
                    <td>
                        <a th:href="@{?post={bookId} (bookId=${b.id})}" th:text="${b.title}"></a>
                    </td>
                    <td th:text="${b.userName.getUserName()}"></td>
                    <td th:text="${b.date}"></td>
                    <td th:text="${b.hit}"></td>
                    <td th:text="${b.lock_post}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <!--페이징 부분-->
        <nav aria-label="..." class="navi">
            <ul class="pagination ul1">
                <li class="page-item ">
                    <a  th:href="@{/?page=1}"
                        class="page-link"
                        >
                        <span aria-hidden="true">처음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a th:href="@{?page={page} (page = ${pagination.prevBlock})}"
                       class="page-link">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>

                <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                    <li th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                        th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a th:href="@{?page={page} (page = ${pageButton})}" th:text=${pageButton}
                           class="page-link"></a>
                    </li>
                </th:block>
                <li class="page-item">

                    <a th:href="@{?page={page} (page = ${pagination.nextBlock})}"
                       class="page-link">
                        <span aria-hidden="true">다음</span>
                    </a>
                </li>
                <li class="page-item">
                    <a th:href="@{?page={page} (page = ${pagination.totalPageCnt})}"
                       class="page-link">
                        <span aria-hidden="true">끝</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>