<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>업데이트</title>
</head>
<body>
    <div >
        <form action="/gogo" method="get" th:object="${findPost}">
            <input type="text" th:value="*{title}" name="title">
            <textarea th:text="*{content}" name="content">
            </textarea>
            <input type="hidden" th:value="*{id}" name="Id">
            <button type="submit">수정 완료</button>
        </form>

    </div>
</body>
</html>