<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .dv1{
            text-align: -webkit-center;
            margin: 15pt;
        }
        .input_title{
            width:500pt;
            height: 50pt;
            margin: 10pt;
        }
        .textarea_content{
            width: 500pt;
            height: 400pt;
            margin: 15pt;
        }
    </style>
</head>
<body>


    <div class="dv1">
        <form action="/write" method="post">
            <input type="text" value="dd" placeholder="제목" name="title" class="input_title"><br>
            <textarea cols="50" rows="10" name="content" class="textarea_content"></textarea><br>
            <button type="submit" class="btn btn-primary btn-lg">글 작성</button>
        </form>

    </div>

</body>
</html>